@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom cursor */
* {
  cursor: url('/WhatsApp-Image-2025-03-28-at-3.49.53-PM.cur') 16 16, auto !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}
